.places > h1 {
  font-size: 30px;
  text-align: left;
}

.places {
  text-align: center;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
}

.places article h2 {
  font-size: 30px;
  display: inline-block;
}

.price_by_night {
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
}

.information {
  height: 80px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 100px;
  display: inline-block;
  max-height: inherit;
  height: inherit;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: bottom;
}

.max_guest {
  background-image: url('../images/icon_group.png');
}

.number_rooms {
  background-image: url('../images/icon_bed.png');
}

.number_bathrooms {
  background-image: url('../images/icon_bath.png');
}

.user > span {
  font-weight: bold;
}

.user {
  padding: 20px 0;
}

.user,
.description {
  text-align: left;
}
